<!DOCTYPE html>
<html lang="en">
<head>
       
    <title>Document</title>
</head>
<body>
<h1>RESOURCE PAGE</h1>
<p>below is your resources:</p>
<p id="number"></p>
<script>
let zipcode = ["02119", "02120", "02122","02123","02124", "02125","02126", "02127", "02128","02129"];
document.getElementById("number").innerHTML=zipcode.tostring ();
 function zipcode () {
     document.getElementById("number").innerHTML = "Andrea Campbell";
 }
</script>

</body>
</html>